:root {
    --primary-base-color: #2d1806;
    --primary-text-color: #8b4309;
    --secondary-bg: #f8f5f1;
    --white: #ffffff;
    --border-color: #c8b8aa;
   
    --border-radius:20px;
}

@font-face {
    font-family: "vazirmatn";
    src: url(./fonts/Vazirmatn-Medium.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazirmatn", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #F7F5F2;
}

.header {
    background-color: rgba(244, 243, 243, 0.8);
    border-radius: var(--border-radius);
    padding: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    max-width: 1080px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3000;
    max-width: 1100px;
    width: 100%;



}

.nav-bar-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;
    z-index: 0;



}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-top: 10px;
    position: relative;
    top: 3px;
    z-index: 4000;

}

.nav-item {
    color: var(--primary-text-color);
    transition: 0.4s ease;
    font-size: 14px;
    position: relative;

}

.menu-btn {
    display: none;
    font-size: 24px;
    background: none;
    position: relative;
    z-index: 5000;
    border: none;
    outline: none;
    cursor: pointer;
}

.close {
    display: none;
}

.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.left-nav-item {
    cursor: pointer;
    transition: 0.4s ease;
}

.search-input {
    width: 350px;
    height: 40px;
    background-color: gray;
    border: none;
    outline: none;
    border-radius: var(--border-radius);

}

.loging-btn {
    width: 80px;
    height: 40px;
    background-color: var(--primary-text-color);
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.4s ease;
}

.loging-btn a {
    text-decoration: none;
    color: white;
}

main {
    flex: 1;
}

.footer {
    margin-top: auto;
    background-color: #2d1806;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 40px;
}

.right-footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.right-footer-item {
    position: relative;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
    transition: 0.4s ease;
}

@media (max-width:991px) {

    .header {
        max-width: 780px;

    }

    .left-nav img {
        width: 22px;
    }

    .left-nav button {
        width: 65px;
    }


    .left-nav {
        position: relative;
        right: 30px;
    }

    .right-nav {
        position: relative;
        left: 20px;
    }

    .nav-item {
        font-size: 13px;
    }

}

@media (max-width:768px) {

    .header {
        max-width: 600px;
    }

    .right-nav {
        position: relative;
    }

    .menu-btn {
        display: block;
    }

    .nav-list {
        position: fixed;
        top: -40px;

        right: -84px;
        width: 260px;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 100px;

        gap: 30px;
        transition: 0.4s ease;
        z-index: 3000;
        border: 1px solid #8b4309;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease;
    }

    .menu-btn.active .open {
        display: none;

    }

    .menu-btn.active .close {
        display: block;

    }

    .open {
        font-size: 18px;

    }

    .nav-list.active {
        opacity: 1;
        visibility: visible;
    }

    .left-nav {
        position: relative;

    }

    .left-nav img {
        width: 18px;
    }

    .left-nav button {
        width: 45px;
        height: 33px;
    }

    .nav-list {
        z-index: 5000;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width:650px) {
    .nav-list {
        right: -40px;
    }
}

@media (max-width:500px) {
    .header {
        max-width: 370px;
    }

    .left-nav {
        position: relative;
        margin-left: 33px;

    }

    .nav-list {
        right: -60px;
        padding-right: 10px;
    }

    .left-nav button {
        width: 43px;
        height: 35px;
    }

    .open {
        margin-right: 30px;
    }
}



/* /////////// hover section /////////////*/
.nav-item:hover {
    font-size: 16px;
}

.right-footer-item::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary-text-color);
    transition: 0.3s ease;
}

.right-footer-item:hover::after {
    width: 100%;

}

.left-nav-item:hover {
    transform: scale(1.3);
}

.loging-btn:hover {
    box-shadow: 2px 3px 8px #814816;
    transform: scale(1.1);
}


/* 
///////////////////////


        home


////////////////////////
*/




.section-hero {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.banner-img {
    width:100%;
    max-width:1100px;
    height:300px;
    object-fit:cover;
    border-radius: 50px;
    background-size: cover;
}

.banner-content {
    position: absolute;
    left: 5%;
    top: 25%;
}

.banner-content h1,
p {
    color: var(--white);
}

.banner-content p {
    opacity: .6;
    line-height: 1.8;
}

.banner-btn {
    display: inline-block;
    margin-top: 20px;
    margin-right: 2px;
    padding: 10px 25px;
    border: 1px solid var(--primary-base-color);
    color: var(--white);

    border-radius: 7px;
    transition: 0.4s ease;
}

.banner-btn:hover {
    background: var(--primary-base-color);
    color: var(--white);
    transform: translateY(-3px);
}

.categories-sec {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:1100px;
    width:100%;
    margin:20px auto 0;
    

}
.category-card{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    text-decoration: none;
    color: var(--primary-base-color);
    text-align: center;
        transition: .35s ease;
}
.category-card img{
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
        transition: .35s ease;
}

.category-card span{
margin-top:11px ;
    transition: .35s ease;
}

.features{
      width:100%;
      max-width: 1100px;
    margin:60px auto 0;
    background-color: #F3EEE7;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 30px; 
    border-radius: 20px;
}
.features-box{
    display: flex;
    position: relative;
    top: 11px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
}
.features-box h3{
    color: var(--primary-base-color);
    font-size: 16px;
}
.features-box p{
    color: var(--primary-base-color);
    font-size: 14px;
    opacity: 0.7;
}
.features-icon img{
position: relative;
bottom: 11px;
right: 20px;
}




/* 

///////////////////////

        home hover

//////////////////////
*/
.category-card:hover{
    transform:translateY(-6px);
}

.category-card:hover img{
    background: #fff;
    border-color: #C9A227;
    box-shadow: 0 12px 25px rgba(201,162,39,.18);
    transform: scale(1.09);
}
.category-card:hover span{
    color: #8b4309;
}