{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<div class="container change-password-page">

    <header class="page-title">
        <span>SECURITY</span>
        <h1>تغییر رمز عبور</h1>
    </header>

    {% if messages %}
    <div class="checkout-errors">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="post" class="password-form">
        {% csrf_token %}

        <div class="input-group">
            <label for="old_password">رمز عبور فعلی</label>
            <input type="password" name="old_password" id="old_password" required>
        </div>

        <div class="input-group">
            <label for="new_password1">رمز عبور جدید</label>
            <input type="password" name="new_password1" id="new_password1" required>
        </div>

        <div class="input-group">
            <label for="new_password2">تکرار رمز عبور جدید</label>
            <input type="password" name="new_password2" id="new_password2" required>
        </div>

        <button type="submit" class="save-btn">
            تغییر رمز عبور
            <i class="fa-solid fa-check"></i>
        </button>

    </form>

</div>

{% endblock %}