{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<div class="container change-password-page">

    <header class="page-title">
        <span>SECURITY</span>
        <h1>تغییر رمز عبور</h1>
    </header>

    {% if form.errors %}
    <div class="checkout-errors">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="post" class="password-form">
        {% csrf_token %}

        <div class="input-group">
            <label for="{{ form.old_password.id_for_label }}">رمز عبور فعلی</label>
            {{ form.old_password }}
        </div>

        <div class="input-group">
            <label for="{{ form.new_password1.id_for_label }}">رمز عبور جدید</label>
            {{ form.new_password1 }}
        </div>

        <div class="input-group">
            <label for="{{ form.new_password2.id_for_label }}">تکرار رمز عبور جدید</label>
            {{ form.new_password2 }}
        </div>

        <button type="submit" class="save-btn">
            تغییر رمز عبور
            <i class="fa-solid fa-check"></i>
        </button>

    </form>

</div>

{% endblock %}